<h1 class = 'text-center'>Restaurant Reviews</h1>

<p><%= link_to "Create New Restaurant", new_restaurant_path(@restaurant) %></p>

<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.category %></p>
  <p><%= link_to "Details", restaurant_path(restaurant) %>
  <%= link_to "Update", edit_restaurant_path(restaurant) %>
  <%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
  </p>
<% end %>
