<div class="text-center">
  <div class="row">
    <h1>Restaurant Reviews</h1>
  </div>
  <div class="row">
<!--     <div class="col-xs-6 col-xs-offset-3"> -->
      <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://unsplash.it/200/300/?random);">
          <div class="card-category"><h2><%= restaurant.name %></h2></div>
          <div class="card-description">
            <h3><%= restaurant.address %></h3>
              <p><%= restaurant.phone_number %></p>
              <p><%= restaurant.category %></p>
          </div>
            <p><%= link_to "Details", restaurant_path(restaurant) %>        </p>
        </div>
      </div>
      <% end %>
    </div>
</div>
