<h1><%= @restaurant.name %></h1>
<p>created at : <%= (@restaurant.created_at).strftime("%d/%m/%Y - at %H:%M") %></p>
<p>Address : <%= @restaurant.address %></p>
<p>Telephone :<%= @restaurant.phone_number %></p>
  <% if @restaurant.updated_at == @restaurant.created_at %>
    <p>not updated yet</p>
  <% else %>
    <p>updated at: <%=(@restaurant.updated_at).strftime("%d/%m/%Y - at %H:%M")%></p>
  <% end %>
<p><%= link_to "Back to list", restaurants_path %></p>
